.about {
  background-color: rgba(206, 206, 255, 1);
}

.about__container {
  max-width: 1370px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about__title {
  width: 100%;
  color: black;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  margin-bottom: 0;
  text-align: center;
}

.about__title-ele {
  color: rgba(0, 0, 255, 1);
}

.about__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 670px);
  grid-template-rows: repeat(auto-fit, 297px);
  grid-gap: 30px;
  margin: 50px auto;
  padding: 0;
  justify-content: center;
}

.about__card {
  background-color: rgba(0, 0, 255, 1);
  padding: 30px 50px;
  border-radius: 30px;
  justify-content: space-between;
}

.about_card-title {
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  margin-top: 0;
  margin-bottom: 60px;
}

.about_card-discription {
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}
